table.display {
	width: 100%;
}

/* Table Headers */
th.display {
	border: 1px solid #dddddd;
	text-align: center;
	margin: auto;
	padding: 8px;
}

/* Table Data */
td.display {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr.display:nth-child(even) {
	background-color: #dddddd;
}
