table.form {
	width: 100%;
	border: 2px solid black;
	border-collapse: collapse;
}

th.form {
	text-align: center;
	padding: 8px;
	word-wrap: break-word;
}

tr.form {
	padding: 8px;
}

td.form {
	max-width: 50%;
	width: 50%;
	text-align: left;
	padding: 8px;
	word-wrap: break-word;
}

td.formSubmit {
	text-align: right;
	padding: 8px;
}

select.form {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
